<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
    </head>
    <body>
        {% for name in names %}
            <h3>{{ name }}: axial</h3>
            <img src="images/{{ name }}/axial_image.png">
            <img src="images/{{ name }}/axial_label.png">
            <h3>{{ name }}: coronal</h3>
            <img src="images/{{ name }}/coronal_image.png">
            <img src="images/{{ name }}/coronal_label.png">
            <h3>{{ name }}: sagittal </h3>
            <img src="images/{{ name }}/sagittal_image.png">
            <img src="images/{{ name }}/sagittal_label.png">
        {% endfor %}
    </body>
</html>
